html,
body,
.background {
    background-image: url(https://cdn.wallpapersafari.com/66/82/pKCuAG.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.card {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 450px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    margin-left: 10vw;
}

